html, body {
  margin: 0;
  padding: 0;
}

form {
  border: 1px solid #ddd;
  margin: 20px auto;
  width: 600px;
}

label {
  font-size: 18px;
  padding: 20px;
  display: inline-block;
}

textarea {
  border: 1px solid #aaa;
  display: block;
  width: 420px;
  height: 250px;
  font-size: 20px;
  margin: 5px 20px;
  padding: 5px;
}

#file {
  margin: 5px;
  width: 200px;
  padding: 5px 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#textBtn {
  display: block;
  /* float: left; */
  margin: 0 20px;
}

button {
  padding: 3px 8px;
  background: none;
  color: #D48D21;
  border: 1px solid #D48D21;
  border-radius: 5px;
  padding: 3px 8px;
}
