html, body {
  margin: 0;
  padding: 0;
}

form {
  border: 1px solid #ddd;
  margin: 20px auto;
  padding: 15px 0;
  width: 600px;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 18px;
  padding: 0 0 0 20px;
  font-weight: bold;
}

textarea {
  border: 1px solid #aaa;
  display: block;
  width: 420px;
  height: 250px;
  font-size: 20px;
  margin: 5px 20px;
  padding: 5px;
}

#file {
  margin: 5px;
  width: 200px;
  padding: 5px 8px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#textBtn {
  display: block;
  margin: 0 20px;
}

button {
  padding: 3px 8px;
  background: none;
  color: #D48D21;
  border: 1px solid #D48D21;
  border-radius: 5px;
  padding: 3px 8px;
}

h3 {
  margin: 0 0 10px 20px;
}

#files {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin: 0 20px 10px;
}

.options {
  display: flex;
}

.checkbox-label {
  font-weight: normal;
  padding: 0;
  max-width: calc(550px / 3 - 25px);
  display: inline-block;
  white-space: nowrap;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
}

.checkbox-input {
  margin: 3px;
}

#fetchBtn {
  display: block;
  margin: 0 20px;
  float: right;
}

footer {
  text-align: center;
  color: #888;
  margin-top: 30px;
}

@media (max-width: 620px) {
  #files {
    grid-template-columns: 1fr 1fr;
  }

  form {
    width: 450px;
  }

  textarea {
    width: 350px;
    height: 210px;
  }

  .checkbox-label {
    max-width: calc(405px / 2 - 25px);
  }
}

@media (max-width: 460px) {
  form {
    width: 300px;
  }

  textarea {
    width: 210px;
    height: 125px;
  }

  .checkbox-label {
    max-width: calc(255px / 2 - 25px);
  }
}
